FEEDER_DB_HOST=
FEEDER_DB_USER=
FEEDER_DB_PASS=
FEEDER_DB_NAME=octoparts

MAIL_USERNAME=mailer@example.com
MAIL_PASSWORD=
DEBUG_EMAIL=info@example.com

CASSANDRA_AUTH_BUNDLE=/path/to/secure-bundle.zip
CASSANDRA_CLIENT_ID=
CASSANDRA_CLIENT_SECRET=
CASSANDRA_DEFAULT_KEYSPACE=octoparts